@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bai Jamjuree', 'sans-serif';
    line-height: 1.5;
}

::after, ::before {
    box-sizing: inherit;
}

:root {
/* ## Colors */
/* ### Primary */
--Strong-Cyan: hsl(171, 66%, 44%);
--Light-Blue: hsl(233, 100%, 69%);

/* ### Neutral */
--Dark-Grayish-Blue: hsl(210, 3%, 54%);
--Grayish-Blue: hsl(201, 11%, 66%);
}


body {
    margin-top: 60px;
    /* padding: 30px; */
    height: 100vh;
    display: flex;
    background-image: url('/images/bg-header-mobile.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 120% 90%;
    position: relative;
    min-width: 375px;

}

main {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}

p  {
    color: var(--Grayish-Blue);
}


h1,
h2 {
    color: rgba(0,0,0, .7);
    width: 80%;
}

h1 {
    padding-bottom: 20px;
}

#sec-one, #sec-two, #sec-three, #sec-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 155px;
    padding: 30px;
}

#sec-one {
    justify-content: space-between;
    height: auto;
}

#sec-one h1 {
    font-size: 28px;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

button {
    margin: 10px 0;
    padding: 15px;
    font-weight: 600;
    color: #fff;
    border-radius: 25px;
    border: none;
    outline: none;    
}

button:first-child {
    background-color: var(--Strong-Cyan);
    box-shadow: 0px 3px 0px hsl(168, 52%, 39%);
}

button:last-child {
    background-color: var(--Light-Blue);
    box-shadow: 0px 3px 0px hsl(233, 65%, 59%);
}

.copy-right {
    width: 120px;
    height: 120px;
}

figure {
    width: auto;
}

figure img {
    width: 100%;
}

#sec-two {
    height: auto;
    justify-content: space-around;
}

#sec-two .computer {
    padding-bottom: 50px;
}

#sec-two .info-computer {
    display: grid;
    grid-template-columns: 1fr;
}

#sec-two .info-computer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sec-two .flex-computer-desk  .info-computer div h1, p {
    text-align: center;
}

#sec-two .info-computer div h2 {
    margin-bottom: 15px;
}

.flex-text {
    padding-bottom: 40px;
}

#sec-three figure img {
    margin-top: 50px;
    margin-bottom: 100px;
}

#sec-three .workflow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.workflow-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    padding: 20px;
    margin: auto;
}


#sec-three .workflow img {
    width: 50px;
    margin-top: 94px;
    margin-bottom: 40px;
}

#sec-four .companies {
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

#sec-four .companies img {
    margin: 32px 0;
    width: 130px;
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* margin-left: -30px; */
    left: 0px;
    top: 0;
    background-color: rgba(0,0,0, .03);
}

.copy-right2 {
    width: 60px;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--Dark-Grayish-Blue);
    font-weight: 600;
}

footer ul li {
    list-style-type: none;
    padding: 15px;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

@media (max-width: 1040px) {
    #sec-two .flex-computer-desk {
        grid-template-areas: 
            "image image image"
            "info-computer  info-computer info-computer"
        ;
        grid-template-rows: 1fr 1fr;
        
    }

    .image {
        grid-area: image;
        width: 100%;
    }

    .info-computer {
        grid-area: info-computer;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #sec-three .workflow {
        display: grid;
        grid-template-columns: 1fr;
    }

}

/* @media (max-width: 970px) {
    #sec-four .companies {
    
        display: grid;
        grid-template-rows: repeat(2, auto);
    }
} */

 @media (min-width: 825px) {
 
    body {
        background-image: url('/images/bg-header-desktop.png');
        padding: 0;
    }

    .buttons {
        display: inline-flex;
        flex-direction: row;
        width: auto !important;
    }   

    
    #sec-one h1, #sec-three h1, #sec-four h1 {
        font-weight: 600;
        font-size: 38px;
    }

    .flex-text-desk {
        width: 580px;
        text-align: center;
        font-weight: 400;
        margin: auto;
    }

    button {
        margin: 0 10px;
        width: 225px;
    }

    #sec-two .flex-computer-desk {
        display: grid;
        grid-template-columns: 1.8fr 1fr;
        grid-gap: 40px;
    }

    #sec-two .flex-computer-desk figure img {
        position: relative;
        left: -65px;
    }

    #sec-two .flex-computer-desk  .info-computer {
        margin-top: 80px;
        grid-template-columns: auto;
    }

    #sec-two .flex-computer-desk  .info-computer div h1, p {
        margin-left: 0;
        margin-right: auto;
        text-align: left;
    }

    #sec-two .flex-computer-desk  .info-computer div {
        width: 75%;
    }

    #sec-four .companies {
    
        display: grid;
        grid-template-columns: repeat(5, 20%);
    }


    @media (min-width: 600px) {
        /* #sec-two .flex-computer-desk  .info-computer {
            margin-top: 80px;
            grid-template-columns: repeat(3, 33.33%);
        } */
    }

    /*

    #sec-two figure {
        width: 50%;
        left: -50px;
    }

    #sec-two figure img {
        position: relative;
        left: -50px;
    }

    .flex-computer-desk {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
    }


    .info-computer {
        width: 45%;
        text-align: start;
    }

    .info-computer  h1, p {
        margin-right: auto;
        margin-left: 0;
        width: 55%;
    }

    #sec-three h1 {
        font-size: 28px;
    }

    #sec-three p {
        margin: auto;
        width: auto;
    }

    .align-title {
        margin: auto;
    }

    #sec-three .workflow { 
        flex-direction: row;
        height: 200px;
    }   

    .workflow-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 31%;
        height: 100%;    
    }

    #sec-three .workflow-flex img {
        margin: 0;
    }

    #sec-four .companies {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
    }

    .footer-flex {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }   

    .contats-flex {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .contats-flex li {
        text-align: left;
        margin-right: auto;
    }

    .social-media {
        flex-direction: row;
        width: 10%;
    }

} */