@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Open Sans', 'sans-serif';
    line-height: 1.5;
}

*::after, *::before {
    box-sizing: inherit;
}

:root {
    /* ### Primary */
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);
    --bg-border: hsl(240, 75%, 98%);
    /* ### Accent */
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    /* ### Neutral */
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);
    /* ### Neutral */
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);
}

body {
    height: 100vh;
    margin: auto;
}

body, #container, .sections, .section-two {
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    padding: 50px;
}


header img {
    width: 180px;
}

.header-list {
    font-size: 18px;
    color: var(--Very-Dark-Blue);
}

header ul {
    display: flex;
    justify-content: space-between;
}

header ul li {
    margin: auto 30px;
}


.section-one, .section-two, .section-three, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.section-one {
    margin-bottom: 80px;
}

.sec-discreption, .article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
}

.sec-discreption h1 {
    font-size: 40px;
    color: var(--Very-Dark-Blue);
    margin-bottom: 20px;
}

.sec-discreption p {
    margin-bottom: 20px;
}

.sec-discreption form {
    display: flex;
}

.sec-discreption form input{
    height: 40px;
}

.sec-discreption form input:first-child {
    width: 250px;
}

.sec-discreption form input[type=submit] {
    width: 200px;
    background-color: var(--Bright-Blue);    
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    margin-left: 20px;
}

.sec-discreption form input[type=submit]:hover {
    background-color: #8499F0;
}

figure  {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure img {
    width: 90%;
    
}

.section-two {
    position: relative;
    flex-direction: row-reverse;
    width: inherit;
    background-color: var(--bg-border);
}

.section-two .article {
    width: 55%;
    display: flex;
    justify-content: space-around;
}

.section-two .article h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.section-two .article p {
    margin-bottom: 15px;
    width: 80%;
}

.span-color {
    color: var(--Moderate-Cyan);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--Moderate-Cyan);
    margin: 0 auto 20px 0;
    padding-bottom: 5px;
}

.span-color img {
    margin-left: 15px;
}

.section-two figure {
    width: 50%;
}

.section-two figure img {
    margin: auto;
    width: 90%;
}

.card {
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #fff;
    padding: 20px 30px;
    color: var(--Very-Dark-Blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    font-size: 10px;
    line-height: 2;
    width: 360px;
}

.text-card {
    line-height: 2;
    font-size: 14px;
    width: 100% !important;
}

.testimonial-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.avatar {
    display: flex;
    align-items: center;
}

.testimonial-name {
    display: flex;
    flex-direction: column;
}

.section-two::after {
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    background-image: url('/images/bg-curve-desktop.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    z-index: -3;
}
.section-three {
    background-color: var(--Desaturated-Blue);
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    
    justify-content: space-between;
}

.section-three div h2  {
    font-size: 35px;
    margin-bottom: 10px;
}

.section-three div {
    width: 40%;
}

.section-three form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.section-three form input {
    margin: 10px auto 10px 0;
    height: 40px;
    border: 1px solid var(--Very-Dark-Blue);
    padding-left: 20px;
    width: 80%;
}

.section-three form input[type=submit] {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.18);
    background-color: var(--Bright-Blue);
    font-size: 13px;
    font-weight: bold;
    border: none;
    color: #fff;
    padding: 0;
    width: 40%;
} 

.section-three form input[type=submit]:hover {
    background-color: #8499F0;
}
footer {
    background-color: var(--Very-Dark-Blue);
    color: #fff;
}

.footer {
    width: 100%;
    margin-top: 50px;
}

.flex-contacts {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.list-contacts li {
    list-style-type: none;
    margin-bottom: 10px;
}


.list-contacts li a {
    color: inherit;
    text-decoration: none;
}

.social-media  {
    display: flex;
    justify-content: center;   
    margin: 10px 0;
    height: 35px;
}

.social-media li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 8px;
}

.social-media li:hover {
    /* border: 1px solid var(--Bright-Blue); */
    background-color: var(--Bright-Blue);
}

.social-media li img {
    width: 15px;
    height: 15px;
}

.contacts {
    display: flex;
    align-items: center;
    margin: 10px;
}

.contacts img {
    margin-right: 15px;
}



@media(max-width: 900px) {

    body {
        width: 100%;
    }

    #container {
        width: auto;
    }

    .section-one, .section-two, .section-three, footer, header {
        padding: 20px;
    }

    header {
        justify-content: space-between;
    }

    header img {
        width: 100px;
    }

    .header-list {
        width: 50%;        
    }

    .header-list li {
        font-size: 12px;
        font-weight: 400;
        margin: 0;
    }

    .section-one, .section-two, .section-three, footer {
        flex-direction: column;
    }

    .section-one {
        flex-direction: column-reverse;
        margin-bottom: 120px;
    }

    .section-one figure {
        width: auto;
    }

    .section-two::after {
        background-image: url('/images/bg-curve-mobile.svg');
        height: 50px;
        top: -50px;
    }

    .section-two figure  {
        align-items: center;
        width: auto;
        margin-bottom: 30px;
    }
    
    .section-two figure img {
        width: 100%;
    }

    .section-two .article {
        width: 100%;
        align-items: center;
    }

    .section-two .article h1 {
        font-size: 20px;
    }

    .section-two .article p {
        width: 100%;
    }

    .span-color {
        margin: auto;
    }

    .sec-discreption  {
        width: auto;
        text-align: center;
    }

    .sec-discreption h1 {
        font-size: 25px;
    }

    .sec-discreption form {
        align-items: center;
        flex-direction: column;
    }

    .sec-discreption form input {
        margin: 10px 0;
    }

    .sec-discreption form input:first-child {
        width: 100%;
    }

    .sec-discreption form input:last-child {
        width: 100%;
        margin-left: 0;
    }

    .card {
        width: 90%;
    }

    .card p {
        font-size: 10px;
        width: 100%;
    }
    
    .section-three {
        align-items: center;
        text-align: center;
    }

    .section-three div {
        width: 90%;
        margin-top: 40px;
    }

    .section-three div h2 {
        font-size: 20px;
    }

    .section-three form {
        margin-top: 20px;
        margin-bottom: 40px;
        width: 70%;
        
    }

    .section-three form input {
        width: 100%;
    }

    .section-three form input[type=submit] {
        width: 100%;
        margin-top: 0;
    }

    footer {
        width: 100%;
        padding: 0 40px;
        margin: 0 auto 10px auto;
    }

    .flex-contacts {
        flex-direction: column;
        width: 100%;
    }
    
    .list-contacts {
        margin: 20px 0;
    }

    .social-media {
        width: auto;
    }
}